In [1]:
from RM_PythonPackage.AutoModel.rm_handler import RapidMinerClient as rm
import numpy as np
from sklearn.datasets import fetch_mldata
import pandas as pd

# Load a titanic dataset as a pandas dataframe

In [3]:
titanic=pd.read_csv('titanic.csv')

In [4]:
titanic

,Passenger Class,Name,Sex,Age,No of Siblings or Spouses on Board,No of Parents or Children on Board,Ticket Number,Passenger Fare,Cabin,Port of Embarkation,Life Boat,Survived,id
0,First,"Allen, Miss. Elisabeth Walton",Female,29.0000,0,0,24160,211.3375,B5,Southampton,2,Yes,1
1,First,"Allison, Master. Hudson Trevor",Male,0.9167,1,2,113781,151.5500,C22 C26,Southampton,11,Yes,2
2,First,"Allison, Miss. Helen Loraine",Female,2.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,No,3
3,First,"Allison, Mr. Hudson Joshua Creighton",Male,30.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,No,4
4,First,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",Female,25.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,No,5
5,First,"Anderson, Mr. Harry",Male,48.0000,0,0,19952,26.5500,E12,Southampton,3,Yes,6
6,First,"Andrews, Miss. Kornelia Theodosia",Female,63.0000,1,0,13502,77.9583,D7,Southampton,10,Yes,7
7,First,"Andrews, Mr. Thomas Jr",Male,39.0000,0,0,112050,0.0000,A36,Southampton,NaN,No,8
8,First,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",Female,53.0000,2,0,11769,51.4792,C101,Southampton,D,Yes,9
9,First,"Artagaveytia, Mr. Ramon",Male,71.0000,0,0,PC 17609,49.5042,NaN,Cherbourg,NaN,No,10
10,First,"Astor, Col. John Jacob",Male,47.0000,1,0,PC 17757,227.5250,C62 C64,Cherbourg,NaN,No,11
11,First,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",Female,18.0000,1,0,PC 17757,227.5250,C62 C64,Cherbourg,4,Yes,12
12,First,"Aubart, Mme. Leontine Pauline",Female,24.0000,0,0,PC 17477,69.3000,B35,Cherbourg,9,Yes,13
13,First,"Barber, Miss. Ellen 'Nellie'",Female,26.0000,0,0,19877,78.8500,NaN,Southampton,6,Yes,14
14,First,"Barkworth, Mr. Algernon Henry Wilson",Male,80.0000,0,0,27042,30.0000,A23,Southampton,B,Yes,15
15,First,"Baumann, Mr. John D",Male,NaN,0,0,PC 17318,25.9250,NaN,Southampton,NaN,No,16
16,First,"Baxter, Mr. Quigg Edmond",Male,24.0000,0,1,PC 17558,247.5208,B58 B60,Cherbourg,NaN,No,17
17,First,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",Female,50.0000,0,1,PC 17558,247.5208,B58 B60,Cherbourg,6,Yes,18
18,First,"Bazzani, Miss. Albina",Female,32.0000,0,0,11813,76.2917,D15,Cherbourg,8,Yes,19
19,First,"Beattie, Mr. Thomson",Male,36.0000,0,0,13050,75.2417,C6,Cherbourg,A,No,20
20,First,"Beckwith, Mr. Richard Leonard",Male,37.0000,1,1,11751,52.5542,D35,Southampton,5,Yes,21
21,First,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",Female,47.0000,1,1,11751,52.5542,D35,Southampton,5,Yes,22
22,First,"Behr, Mr. Karl Howell",Male,26.0000,0,0,111369,30.0000,C148,Cherbourg,5,Yes,23
23,First,"Bidois, Miss. Rosalie",Female,42.0000,0,0,PC 17757,227.5250,NaN,Cherbourg,4,Yes,24
24,First,"Bird, Miss. Ellen",Female,29.0000,0,0,PC 17483,221.7792,C97,Southampton,8,Yes,25
25,First,"Birnbaum, Mr. Jakob",Male,25.0000,0,0,13905,26.0000,NaN,Cherbourg,NaN,No,26
26,First,"Bishop, Mr. Dickinson H",Male,25.0000,1,0,11967,91.0792,B49,Cherbourg,7,Yes,27
27,First,"Bishop, Mrs. Dickinson H (Helen Walton)",Female,19.0000,1,0,11967,91.0792,B49,Cherbourg,7,Yes,28
28,First,"Bissette, Miss. Amelia",Female,35.0000,0,0,PC 17760,135.6333,C99,Southampton,8,Yes,29
29,First,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",Male,28.0000,0,0,110564,26.5500,C52,Southampton,D,Yes,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Third,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0000,0,0,350406,7.8542,NaN,Southampton,NaN,No,1280
1280,Third,"Vovk, Mr. Janko",Male,22.0000,0,0,349252,7.8958,NaN,Southampton,NaN,No,1281
1281,Third,"Waelens, Mr. Achille",Male,22.0000,0,0,345767,9.0000,NaN,Southampton,NaN,No,1282
1282,Third,"Ware, Mr. Frederick",Male,NaN,0,0,359309,8.0500,NaN,Southampton,NaN,No,1283
1283,Third,"Warren, Mr. Charles William",Male,NaN,0,0,C.A. 49867,7.5500,NaN,Southampton,NaN,No,1284
1284,Third,"Webber, Mr. James",Male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,Southampton,NaN,No,1285
1285,Third,"Wenzel, Mr. Linhart",Male,32.5000,0,0,345775,9.5000,NaN,Southampton,NaN,No,1286
1286,Third,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",Female,38.0000,0,0,2688,7.2292,NaN,Cherbourg,C,Yes,1287
1287,Third,"Widegren, Mr. Carl/Charles Peter",Male,51.0000,0,0,347064,7.7500,NaN,Southampton,NaN,No,1288
1288,Third,"Wiklund, Mr. Jakob Alfred",Male,18.0000,1,0,3101267,6.4958,NaN,Southampton,NaN,No,1289
1289,Third,"Wiklund, Mr. Karl Johan",Male,21.0000,1,0,3101266,6.4958,NaN,Southampton,NaN,No,1290
1290,Third,"Wilkes, Mrs. James (Ellen Needs)",Female,47.0000,1,0,363272,7.0000,NaN,Southampton,NaN,Yes,1291
1291,Third,"Willer, Mr. Aaron ('Abi Weller')",Male,NaN,0,0,3410,8.7125,NaN,Southampton,NaN,No,1292
1292,Third,"Willey, Mr. Edward",Male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,Southampton,NaN,No,1293
1293,Third,"Williams, Mr. Howard Hugh 'Harry'",Male,NaN,0,0,A/5 2466,8.0500,NaN,Southampton,NaN,No,1294
1294,Third,"Williams, Mr. Leslie",Male,28.5000,0,0,54636,16.1000,NaN,Southampton,NaN,No,1295
1295,Third,"Windelov, Mr. Einar",Male,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,Southampton,NaN,No,1296
1296,Third,"Wirz, Mr. Albert",Male,27.0000,0,0,315154,8.6625,NaN,Southampton,NaN,No,1297
1297,Third,"Wiseman, Mr. Phillippe",Male,NaN,0,0,A/4. 34244,7.2500,NaN,Southampton,NaN,No,1298
1298,Third,"Wittevrongel, Mr. Camille",Male,36.0000,0,0,345771,9.5000,NaN,Southampton,NaN,No,1299
1299,Third,"Yasbeck, Mr. Antoni",Male,27.0000,1,0,2659,14.4542,NaN,Cherbourg,C,No,1300
1300,Third,"Yasbeck, Mrs. Antoni (Selini Alexander)",Female,15.0000,1,0,2659,14.4542,NaN,Cherbourg,NaN,Yes,1301
1301,Third,"Youseff, Mr. Gerious",Male,45.5000,0,0,2628,7.2250,NaN,Cherbourg,NaN,No,1302
1302,Third,"Yousif, Mr. Wazli",Male,NaN,0,0,2647,7.2250,NaN,Cherbourg,NaN,No,1303
1303,Third,"Yousseff, Mr. Gerious",Male,NaN,0,0,2627,14.4583,NaN,Cherbourg,NaN,No,1304
1304,Third,"Zabour, Miss. Hileni",Female,14.5000,1,0,2665,14.4542,NaN,Cherbourg,NaN,No,1305
1305,Third,"Zabour, Miss. Thamine",Female,NaN,1,0,2665,14.4542,NaN,Cherbourg,NaN,No,1306
1306,Third,"Zakarian, Mr. Mapriededer",Male,26.5000,0,0,2656,7.2250,NaN,Cherbourg,NaN,No,1307
1307,Third,"Zakarian, Mr. Ortin",Male,27.0000,0,0,2670,7.2250,NaN,Cherbourg,NaN,No,1308
1308,Third,"Zimmerman, Mr. Leo",Male,29.0000,0,0,315082,7.8750,NaN,Southampton,NaN,No,1309

# Connect to a Local RapidMiner Server Instance

In [2]:
localserver=rm('http://localhost:4040','admin')

Password: ········
Successfully connected to the Server

# Save Data to the Server repo

In [6]:
localserver.saveData(titanic,'/Python/titanicDemo')

Data saved Successfully

In [9]:
models['naive_bayes']

{'id': '6c10b323-547a-40a5-9a57-f8859ca92098',
 'state': 'PENDING',
 'location': '/Python/Data/6ca2b855-6de5-4d69-a1e7-794cad83e0ee/naive_bayes/process',
 'ownerId': 'admin',
 'createdAt': 1536847470207,
 'queueName': 'DEFAULT'}

# Run Automodel on the data

In [7]:
models=localserver.auto_model(titanic,'Survived',['naive_bayes'])

Data saved Successfully

In [11]:
localserver.getJobs(models['naive_bayes']['id']).json()

{'id': '6c10b323-547a-40a5-9a57-f8859ca92098',
 'queueName': 'DEFAULT',
 'state': 'FINISHED',
 'jobAgent': {'id': 'acf14260-5fb6-48df-82c4-f7c265af32a1',
  'name': 'agent-bundled',
  'state': 'ACTIVE'},
 'ownerId': 'admin',
 'location': '/Python/Data/6ca2b855-6de5-4d69-a1e7-794cad83e0ee/naive_bayes/process',
 'stopRequested': False,
 'createdAt': 1536847470000,
 'startedAt': 1536847471000,
 'endedAt': 1536847539000,
 'duration': 68620}

In [13]:
ss=localserver.submitService('getAutomodelData',params=[{'key':'guid','value':localserver.guid},{'key':'model','value':'naive_bayes'}])

In [14]:
ss.json()

[{'Survived': 'No',
  'Age': '39.0',
  'Cabin': 'A36',
  'id': '8',
  'Life Boat': 'nan',
  'Name': 'Andrews, Mr. Thomas Jr',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '0.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '112050',
  'confidence(Yes)': 0.03366507473480144,
  'confidence(No)': 0.9663349252651985,
  'prediction(Survived)': 'No'},
 {'Survived': 'No',
  'Age': '24.0',
  'Cabin': 'B58 B60',
  'id': '17',
  'Life Boat': 'nan',
  'Name': 'Baxter, Mr. Quigg Edmond',
  'No of Parents or Children on Board': '1',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '247.5208',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': 'PC 17558',
  'confidence(Yes)': 0.9999999999514977,
  'confidence(No)': 4.850233863140739e-11,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '47.0',
  'Cabin': 'D35',
  'id': '22',
  'Life Boat': '5',
  'Name': 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
  'No of Parents or Children on Board': '1',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '52.5542',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '11751',
  'confidence(Yes)': 1,
  'confidence(No)': 9.126722618851035e-17,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '25.0',
  'Cabin': 'nan',
  'id': '26',
  'Life Boat': 'nan',
  'Name': 'Birnbaum, Mr. Jakob',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '26.0',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': '13905',
  'confidence(Yes)': 0.09863597435549301,
  'confidence(No)': 0.9013640256445069,
  'prediction(Survived)': 'No'},
 {'Survived': 'Yes',
  'Age': '19.0',
  'Cabin': 'B49',
  'id': '28',
  'Life Boat': '7',
  'Name': 'Bishop, Mrs. Dickinson H (Helen Walton)',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '91.0792',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': '11967',
  'confidence(Yes)': 0.9999999999999998,
  'confidence(No)': 1.462213769235163e-16,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '45.0',
  'Cabin': 'T',
  'id': '31',
  'Life Boat': 'nan',
  'Name': 'Blackwell, Mr. Stephen Weart',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '35.5',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '113784',
  'confidence(Yes)': 0.9974375343522749,
  'confidence(No)': 0.0025624656477252223,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '45.0',
  'Cabin': 'nan',
  'id': '36',
  'Life Boat': '4',
  'Name': 'Bowen, Miss. Grace Scott',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '262.375',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': 'PC 17608',
  'confidence(Yes)': 0.9999999850435393,
  'confidence(No)': 1.4956460680730905e-08,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '22.0',
  'Cabin': 'E33',
  'id': '37',
  'Life Boat': '6',
  'Name': 'Bowerman, Miss. Elsie Edith',
  'No of Parents or Children on Board': '1',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '55.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '113505',
  'confidence(Yes)': 0.9999999999999998,
  'confidence(No)': 1.713978219216781e-16,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '53.0',
  'Cabin': 'nan',
  'id': '49',
  'Life Boat': '6',
  'Name': 'Candee, Mrs. Edward (Helen Churchill Hungerford)',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '27.4458',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': 'PC 17606',
  'confidence(Yes)': 0.9999999998542386,
  'confidence(No)': 1.457613003526461e-10,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '58.0',
  'Cabin': 'B51 B53 B55',
  'id': '51',
  'Life Boat': '3',
  'Name': 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
  'No of Parents or Children on Board': '1',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '512.3292',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': 'PC 17755',
  'confidence(Yes)': 1,
  'confidence(No)': 5.600601684564485e-18,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '28.0',
  'Cabin': 'nan',
  'id': '53',
  'Life Boat': 'nan',
  'Name': 'Carrau, Mr. Francisco M',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '47.1',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '113059',
  'confidence(Yes)': 2.4217702007653866e-08,
  'confidence(No)': 0.999999975782298,
  'prediction(Survived)': 'No'},
 {'Survived': 'Yes',
  'Age': '14.0',
  'Cabin': 'B96 B98',
  'id': '56',
  'Life Boat': '4',
  'Name': 'Carter, Miss. Lucile Polk',
  'No of Parents or Children on Board': '2',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '120.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '113760',
  'confidence(Yes)': 1,
  'confidence(No)': 6.35197001304342e-18,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '46.0',
  'Cabin': 'E31',
  'id': '63',
  'Life Boat': 'nan',
  'Name': 'Chaffee, Mr. Herbert Fuller',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '61.175',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': 'W.E.P. 5734',
  'confidence(Yes)': 0.9999928750890361,
  'confidence(No)': 7.124910963791855e-06,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '33.0',
  'Cabin': 'E8',
  'id': '66',
  'Life Boat': '5',
  'Name': 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '53.1',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '113806',
  'confidence(Yes)': 0.9999999999998233,
  'confidence(No)': 1.767432271178043e-13,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '36.0',
  'Cabin': 'B61',
  'id': '67',
  'Life Boat': '4',
  'Name': 'Chaudanson, Miss. Victorine',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '262.375',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': 'PC 17608',
  'confidence(Yes)': 0.9999999892923085,
  'confidence(No)': 1.070769153652324e-08,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '39.0',
  'Cabin': 'C85',
  'id': '85',
  'Life Boat': 'nan',
  'Name': 'Cumings, Mr. John Bradley',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '71.2833',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': 'PC 17599',
  'confidence(Yes)': 0.999999998958033,
  'confidence(No)': 1.0419669063633136e-09,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '51.0',
  'Cabin': 'E17',
  'id': '87',
  'Life Boat': '5 9',
  'Name': 'Daly, Mr. Peter Denis',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '26.55',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '113055',
  'confidence(Yes)': 0.7533810518400627,
  'confidence(No)': 0.24661894815993743,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '31.0',
  'Cabin': 'B20',
  'id': '92',
  'Life Boat': '3',
  'Name': 'Dick, Mr. Albert Adrian',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '57.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '17474',
  'confidence(Yes)': 0.9999999999999987,
  'confidence(No)': 1.3097402103998444e-15,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '50.0',
  'Cabin': 'C86',
  'id': '97',
  'Life Boat': 'nan',
  'Name': 'Douglas, Mr. Walter Donald',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '106.425',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': 'PC 17761',
  'confidence(Yes)': 0.9999999998370255,
  'confidence(No)': 1.6297446317341185e-10,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '49.0',
  'Cabin': 'A20',
  'id': '101',
  'Life Boat': '1',
  'Name': "Duff Gordon, Sir. Cosmo Edmund ('Mr Morgan')",
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '56.9292',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': 'PC 17485',
  'confidence(Yes)': 0.9999999999967486,
  'confidence(No)': 3.2514988483501404e-12,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '54.0',
  'Cabin': 'D20',
  'id': '105',
  'Life Boat': '4',
  'Name': 'Eustis, Miss. Elizabeth Mussey',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '78.2667',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': '36947',
  'confidence(Yes)': 1,
  'confidence(No)': 4.864114887136542e-17,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '36.0',
  'Cabin': 'A29',
  'id': '106',
  'Life Boat': 'nan',
  'Name': 'Evans, Miss. Edith Corse',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '31.6792',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': 'PC 17531',
  'confidence(Yes)': 0.8659123754510063,
  'confidence(No)': 0.13408762454899364,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': 'nan',
  'Cabin': 'nan',
  'id': '109',
  'Life Boat': '4',
  'Name': 'Fleming, Miss. Margaret',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '110.8833',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': '17421',
  'confidence(Yes)': 0.9999991266010614,
  'confidence(No)': 8.733989386380267e-07,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '60.0',
  'Cabin': 'C23 C25 C27',
  'id': '117',
  'Life Boat': '10',
  'Name': 'Fortune, Mrs. Mark (Mary McDougald)',
  'No of Parents or Children on Board': '4',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '263.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '19950',
  'confidence(Yes)': 0.9998081369727336,
  'confidence(No)': 0.00019186302726645812,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '60.0',
  'Cabin': 'B41',
  'id': '124',
  'Life Boat': '5',
  'Name': 'Frolicher-Stehli, Mr. Maxmillian',
  'No of Parents or Children on Board': '1',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '79.2',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': '13567',
  'confidence(Yes)': 0.9999999999995939,
  'confidence(No)': 4.0618241238148974e-13,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': 'nan',
  'Cabin': 'B102',
  'id': '126',
  'Life Boat': 'nan',
  'Name': 'Fry, Mr. Richard',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '0.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '112058',
  'confidence(Yes)': 0.9551725185355301,
  'confidence(No)': 0.044827481464469895,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '24.0',
  'Cabin': 'B86',
  'id': '133',
  'Life Boat': 'nan',
  'Name': 'Giglio, Mr. Victor',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '79.2',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': 'PC 17593',
  'confidence(Yes)': 0.000734503519649412,
  'confidence(No)': 0.9992654964803505,
  'prediction(Survived)': 'No'},
 {'Survived': 'Yes',
  'Age': 'nan',
  'Cabin': 'D45',
  'id': '153',
  'Life Boat': '3',
  'Name': 'Hawksford, Mr. Walter James',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '30.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '16988',
  'confidence(Yes)': 0.9999960284582403,
  'confidence(No)': 3.971541759542694e-06,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '42.0',
  'Cabin': 'nan',
  'id': '163',
  'Life Boat': 'nan',
  'Name': 'Holverson, Mr. Alexander Oskar',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '52.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '113789',
  'confidence(Yes)': 0.0807045967949199,
  'confidence(No)': 0.9192954032050802,
  'prediction(Survived)': 'No'},
 {'Survived': 'Yes',
  'Age': '35.0',
  'Cabin': 'nan',
  'id': '164',
  'Life Boat': '8',
  'Name': 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '52.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '113789',
  'confidence(Yes)': 0.9999990731798446,
  'confidence(No)': 9.268201552976499e-07,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '35.0',
  'Cabin': 'nan',
  'id': '165',
  'Life Boat': '15',
  'Name': "Homer, Mr. Harry ('Mr E Haven')",
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '26.55',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': '111426',
  'confidence(Yes)': 0.9999945934371137,
  'confidence(No)': 5.406562886179631e-06,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '38.0',
  'Cabin': 'B28',
  'id': '169',
  'Life Boat': '6',
  'Name': 'Icard, Miss. Amelie',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '80.0',
  'Port of Embarkation': 'nan',
  'Sex': 'Female',
  'Ticket Number': '113572',
  'confidence(Yes)': 0.9999996396112107,
  'confidence(No)': 3.6038878931587046e-07,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '58.0',
  'Cabin': 'B37',
  'id': '175',
  'Life Boat': 'nan',
  'Name': 'Kent, Mr. Edward Austin',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '29.7',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': '11771',
  'confidence(Yes)': 0.9986901624225379,
  'confidence(No)': 0.0013098375774621177,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '41.0',
  'Cabin': 'D21',
  'id': '176',
  'Life Boat': 'nan',
  'Name': 'Kenyon, Mr. Frederick R',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '1',
  'Passenger Class': 'First',
  'Passenger Fare': '51.8625',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '17464',
  'confidence(Yes)': 0.9999893135220463,
  'confidence(No)': 1.0686477953668546e-05,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': 'nan',
  'Cabin': 'nan',
  'id': '185',
  'Life Boat': 'nan',
  'Name': 'Lewy, Mr. Ervin G',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '27.7208',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': 'PC 17612',
  'confidence(Yes)': 0.18565241670822666,
  'confidence(No)': 0.8143475832917733,
  'prediction(Survived)': 'No'},
 {'Survived': 'Yes',
  'Age': '58.0',
  'Cabin': 'B80',
  'id': '193',
  'Life Boat': 'nan',
  'Name': 'Lurette, Miss. Elise',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '146.5208',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Female',
  'Ticket Number': 'PC 17569',
  'confidence(Yes)': 0.9999408708082246,
  'confidence(No)': 5.912919177551561e-05,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': 'nan',
  'Cabin': 'C47',
  'id': '197',
  'Life Boat': '7',
  'Name': 'Marechal, Mr. Pierre',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '29.7',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': '11774',
  'confidence(Yes)': 0.9999887414564942,
  'confidence(No)': 1.1258543505780022e-05,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '58.0',
  'Cabin': 'D48',
  'id': '216',
  'Life Boat': 'nan',
  'Name': 'Newell, Mr. Arthur Webster',
  'No of Parents or Children on Board': '2',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '113.275',
  'Port of Embarkation': 'Cherbourg',
  'Sex': 'Male',
  'Ticket Number': '35273',
  'confidence(Yes)': 0.9999999999244209,
  'confidence(No)': 7.557899842468816e-11,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '19.0',
  'Cabin': 'D47',
  'id': '217',
  'Life Boat': '5',
  'Name': 'Newsom, Miss. Helen Monypeny',
  'No of Parents or Children on Board': '2',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '26.2833',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '11752',
  'confidence(Yes)': 0.999999685125268,
  'confidence(No)': 3.1487473200193534e-07,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'No',
  'Age': '64.0',
  'Cabin': 'nan',
  'id': '218',
  'Life Boat': 'nan',
  'Name': 'Nicholson, Mr. Arthur Ernest',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '26.0',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Male',
  'Ticket Number': '693',
  'confidence(Yes)': 0.08126526630977896,
  'confidence(No)': 0.9187347336902211,
  'prediction(Survived)': 'No'},
 {'Survived': 'Yes',
  'Age': '30.0',
  'Cabin': 'B73',
  'id': '231',
  'Life Boat': '3',
  'Name': 'Perreault, Miss. Anne',
  'No of Parents or Children on Board': '0',
  'No of Siblings or Spouses on Board': '0',
  'Passenger Class': 'First',
  'Passenger Fare': '93.5',
  'Port of Embarkation': 'Southampton',
  'Sex': 'Female',
  'Ticket Number': '12749',
  'confidence(Yes)': 0.9999975932843459,
  'confidence(No)': 2.406715654054195e-06,
  'prediction(Survived)': 'Yes'},
 {'Survived': 'Yes',
  'Age': '56.0',
  'Cabin': 'C50',
  'id': '234',
  'Life Boat': '7',

# Connect to another RapidMiner Server (Partnerserver) instance

In [15]:
partnerserver=rm('http://partnersrv.rapidminer.com:8080','rnene')

Password: ········
Successfully connected to the Server

# Get Data from RapidMiner into Python Environment

In [16]:
dataFromProcess=partnerserver.getData('/home/rnene/Python/test/getData_5Results','process')

In [18]:
dataFromProcess

[         att1      att2      att3      att4      att5     label
 0    2.467612  7.267127  1.292413 -8.624734 -5.589923  0.484660
 1   -6.350917  9.369856  1.241403  8.732746 -8.767781  0.692586
 2   -5.189689 -1.978492 -6.224623 -9.412610 -7.153586  0.077363
 3   -4.695913 -4.395207  5.303777 -2.017014  0.911133  0.502858
 4    5.377265  8.017027  0.327730  6.166384 -2.607983  0.426298
 5   -2.585248 -9.906254  5.895235  0.971251 -4.110441  0.634163
 6    5.533456  3.060656 -4.079620 -7.754152  9.677319  0.125047
 7    3.661621 -5.099834 -2.740232 -0.421908 -3.630139  0.872911
 8    1.922564 -8.663213 -0.568277  5.442134 -4.680173  0.214542
 9   -1.548810 -5.459421  7.306300 -5.118436  9.485368  0.883067
 10  -0.258120  7.311050  3.584082  1.708974  7.772902  0.845636
 11   7.980113  8.314364  2.704552  3.881444  5.593283  0.048266
 12  -6.042304 -3.029245  6.952993 -2.664567 -5.892687  0.483749
 13  -5.789747 -9.919327  0.628644 -7.551024 -4.398384  0.098557
 14   0.731037  3.678667  0.543845 -8.052114  1.538432  0.470018
 15  -9.520422  7.542434  6.879271  7.177322 -1.339402  0.803465
 16   4.077579 -6.922973  3.246798 -7.900596  9.390839  0.117635
 17   2.415274 -8.054965  9.119195  4.218033 -2.384584  0.861726
 18   4.914421 -0.986154  1.672275  9.127581  6.446022  0.105053
 19  -7.868130  2.319926 -7.664298 -7.025965  7.058537  0.685412
 20   1.150369  0.373694 -9.564219 -5.565526 -1.752251  0.729511
 21  -2.611442 -3.998937 -8.602428 -3.320241  5.636266  0.062301
 22  -1.644781 -9.019684  8.902162 -0.809981  2.943609  0.604830
 23  -9.553682 -0.885266 -7.296972  0.434227 -9.544363  0.685239
 24  -9.202514  1.398622  9.715852  3.682904 -2.379883  0.626698
 25  -6.193143  7.091001  3.419029 -9.836978 -2.995927  0.260851
 26   2.268919 -7.501312 -6.864959 -5.859432  9.842690  0.486652
 27   1.831760 -4.032374  2.691172  3.270276 -7.064261  0.352374
 28  -4.881980  6.054628 -0.745873 -8.187372 -8.759306  0.692744
 29   8.431696 -9.644993 -5.542597 -6.598074 -1.605156  0.272485
 ..        ...       ...       ...       ...       ...       ...
 470  4.914803  3.228323  4.941024  4.821849 -4.366979  0.054953
 471 -3.159939  7.577184  1.135544  4.130319  3.365529  0.010606
 472 -8.887106 -5.376179  7.669681 -6.038658 -5.952312  0.617665
 473 -9.133794  8.195677 -4.485065  3.582914 -5.259181  0.143895
 474 -8.246128 -1.235703  3.155327 -0.843193  1.590569  0.752164
 475  1.210736 -2.205063 -4.955549 -8.632608  5.551353  0.417401
 476 -4.669258 -6.229462  6.633245 -6.638076 -7.525198  0.316056
 477  4.346829 -8.674498 -8.616811 -0.744652 -7.925229  0.985769
 478  4.970211 -0.022443 -8.917233  5.191423 -6.182388  0.744710
 479 -2.917783  1.849242  7.848986 -9.541119 -6.129843  0.520438
 480  2.629368  0.340468 -4.856726 -8.684447  3.154396  0.614338
 481 -5.100788 -7.045744 -8.627677 -6.958801 -0.720235  0.126055
 482  0.186079 -7.419578 -1.723004  1.575134  6.311471  0.998768
 483 -5.585304 -9.114402  7.121537 -7.661004 -2.665970  0.495760
 484  2.485956  5.609048 -1.846409  5.127141  1.618339  0.566180
 485 -4.459471 -1.724029 -2.926880 -2.916482 -3.379221  0.047019
 486 -6.712326  0.055009  0.172879  4.778388  5.444206  0.132566
 487  6.991217  8.333228 -4.070150 -2.557664 -7.129017  0.534543
 488 -9.697677  4.376435  3.358515 -0.112414 -7.577605  0.377927
 489  6.227102  9.689119 -0.706671  1.114042  7.579752  0.110490
 490  0.151368 -5.921833  0.546811  5.813666 -8.519773  0.639263
 491 -8.262269 -2.163575  9.876497  5.893233 -0.077291  0.994513
 492 -1.928288  1.962869  3.861291 -0.139072 -4.079201  0.121126
 493 -8.238513  9.179258  7.795501  3.783278 -6.455704  0.827349
 494  0.575271 -7.869742 -1.095003  0.019246 -7.692943  0.510034
 495 -0.896066  8.193953  0.609298 -7.230442 -1.514062  0.411539
 496 -7.975661 -0.401170  2.918950 -6.479814  8.777411  0.843320
 497  6.658788  7.045664  7.779206 -2.224004  6.588431  0.891489
 498  8.212987 -9.040360 -6.653403 -2.672415  8.676090  0.565952
 499  2.551771  0.228385  2.599556 -7.887136 -3.855710  0.492477

 [500 rows x 6 columns],        att1    att2    att3    att4    att5     label
 0    value3  value0  value1  value2  value0  positive
 1    value2  value3  value0  value0  value3  negative
 2    value3  value1  value0  value4  value1  negative
 3    value4  value4  value0  value1  value0  negative
 4    value3  value2  value4  value2  value4  negative
 5    value0  value2  value0  value2  value4  positive
 6    value1  value0  value2  value0  value3  positive
 7    value1  value4  value4  value1  value4  negative
 8    value3  value1  value1  value4  value3  negative
 9    value4  value3  value1  value1  value2  negative
 10   value1  value2  value1  value3  value3  negative
 11   value4  value3  value0  value0  value3  negative
 12   value4  value2  value0  value1  value1  negative
 13   value3  value1  value3  value3  value3  negative
 14   value0  value1  value0  value1  value1  positive
 15   value0  value1  value2  value0  value4  positive
 16   value1  value1  value4  value3  value3  negative
 17   value1  value4  value4  value4  value3  negative
 18   value0  value2  value4  value1  value3  positive
 19   value4  value4  value3  value1  value2  negative
 20   value0  value4  value0  value3  value0  positive
 21   value2  value2  value3  value1  value2  negative
 22   value0  value4  value3  value1  value0  positive
 23   value0  value1  value2  value3  value2  positive
 24   value0  value2  value0  value1  value2  positive
 25   value1  value0  value3  value4  value2  positive
 26   value2  value0  value4  value3  value3  positive
 27   value3  value1  value1  value1  value1  negative
 28   value2  value3  value0  value3  value1  negative
 29   value3  value3  value3  value2  value2  negative
 ..      ...     ...     ...     ...     ...       ...
 470  value0  value3  value0  value4  value1  positive
 471  value0  value0  value2  value1  value2  positive
 472  value2  value4  value4  value4  value0  negative
 473  value4  value1  value1  value1  value4  negative
 474  value0  value0  value1  value3  value2  positive
 475  value1  value4  value3  value4  value2  negative
 476  value1  value3  value4  value0  value0  negative
 477  value0  value3  value1  value4  value3  positive
 478  value2  value2  value2  value3  value3  negative
 479  value1  value0  value4  value0  value1  positive
 480  value1  value2  value3  value3  value1  negative
 481  value1  value3  value1  value1  value2  negative
 482  value1  value1  value1  value0  value1  negative
 483  value2  value4  value1  value0  value0  negative
 484  value3  value4  value1  value1  value4  negative
 485  value1  value1  value2  value2  value3  negative
 486  value3  value2  value1  value2  value3  negative
 487  value2  value1  value4  value2  value3  negative
 488  value3  value2  value0  value3  value1  negative
 489  value1  value0  value3  value2  value4  positive
 490  value3  value2  value4  value4  value3  negative
 491  value3  value0  value0  value2  value1  positive
 492  value4  value2  value2  value0  value0  negative
 493  value4  value4  value3  value2  value4  negative
 494  value3  value3  value1  value0  value4  negative
 495  value4  value0  value0  value0  value2  positive
 496  value4  value2  value1  value4  value3  negative
 497  value3  value2  value0  value0  value0  negative
 498  value1  value2  value0  value4  value3  negative
 499  value3  value1  value3  value1  value3  negative

 [500 rows x 6 columns],                   Year 1               Year 2               Year 3  \
 0             New Credit           End Credit  Collect Information
 1    Collect Information    Additional Credit  Collect Information
 2    Collect Information           End Credit           New Credit
 3             End Credit           End Credit           End Credit
 4    Collect Information  Collect Information           New Credit
 5             End Credit    Additional Credit    Additional Credit
 6      Additional Credit           New Credit    Additional Credit
 7    Collect Information           New Credit           New Credit
 8    Collect Information           New Credit           End Credit
 9      Additional Credit           New Credit              Nothing
 10   Collect Information    Additional Credit  Collect Information
 11            End Credit  Collect Information           End Credit
 12               Nothing  Collect Information              Nothing
 13               Nothing           End Credit           End Credit
 14            End Credit           New Credit    Additional Credit
 15     Additional Credit           New Credit              Nothing
 16     Additional Credit           End Credit              Nothing
 17            End Credit           New Credit              Nothing
 18            New Credit  Collect Information  Collect Information
 19     Additional Credit           End Credit              Nothing
 20            End Credit              Nothing           End Credit
 21     Additional Credit              Nothing  Collect Information
 22   Collect Information              Nothing           New Credit
 23     Additional Credit    Additional Credit           New Credit
 24            New Credit  Collect Information           End Credit
 25            New Credit           New Credit           End Credit
 26            New Credit    Additional Credit  Collect Information
 27               Nothing              Nothing  Collect Information
 28            End Credit           New Credit              Nothing
 29     Additional Credit           New Credit           End Credit
 ..                   ...                  ...                  ...
 470           New Credit    Additional Credit              Nothing
 471           End Credit              Nothing  Collect Information
 472    Additional Credit           End Credit              Nothing
 473    Additional Credit    Additional Credit  Collect Information
 474  Collect Information              Nothing    Additional Credit
 475    Additional Credit    Additional Credit    Additional Credit
 476    Additional Credit           New Credit           New Credit
 477           New Credit    Additional Credit           New Credit
 478  Collect Information              Nothing              Nothing
 479           New Credit           End Credit           End Credit
 480  Collect Information    Additional Credit  Collect Information
 481           New Credit           New Credit           New Credit
 482              Nothing           End Credit              Nothing
 483              Nothing           End Credit  Collect Information
 484    Additional Credit           End Credit  Collect Information
 485           End Credit           End Credit              Nothing
 486           New Credit              Nothing           New Credit
 487           End Credit              Nothing  Collect Information
 488  Collect Information    Additional Credit    Additional Credit
 489           New Credit           End Credit              Nothing
 490           End Credit  Collect Information           End Credit
 491           New Credit    Additional Credit           New Credit
 492    Additional Credit           New Credit  Collect Information
 493    Additional Credit           End Credit  Collect Information
 494  Collect Information    Additional Credit           New Credit
 495           New Credit           End Credit  Collect Information
 496           New Credit  Collect Information           End Credit
 497              Nothing  Collect Information           New Credit
 498              Nothing           New Credit  Collect Information
 499  Collect Information              Nothing           New Credit

                   Year 4               Year 5      label
 0             New Credit           End Credit         ok
 1      Additional Credit  Collect Information         ok
 2    Collect Information  Collect Information         ok
 3                Nothing           End Credit         ok
 4      Additional Credit           New Credit         ok
 5                Nothing           New Credit         ok
 6      Additional Credit    Additional Credit         ok
 7      Additional Credit           New Credit         ok
 8                Nothing           New Credit         ok
 9             End Credit              Nothing         ok
 10     Additional Credit  Collect Information         ok
 11     Additional Credit              Nothing         ok
 12            New Credit              Nothing         ok
 13   Collect Information    Additional Credit         ok
 14            End Credit  Collect Information         ok
 15     Additional Credit  Collect Information         ok
 16            New Credit    Additional Credit         ok
 17               Nothing  Collect Information         ok
 18     Additional Credit    Additional Credit         ok
 19     Additional Credit              Nothing         ok
 20   Collect Information           New Credit         ok
 21   Collect Information    Additional Credit         ok
 22   Collect Information           New Credit         ok
 23            End Credit           New Credit         ok
 24            End Credit    Additional Credit         ok
 25            End Credit           End Credit         ok
 26               Nothing           New Credit         ok
 27     Additional Credit  Collect Information         ok
 28               Nothing           New Credit         ok
 29            New Credit  Collect Information         ok
 ..                   ...                  ...        ...
 470  Collect Information           New Credit         ok
 471              Nothing              Nothing         ok
 472              Nothing              Nothing         ok
 473           New Credit           New Credit         ok
 474  Collect Information           End Credit         ok
 475  Collect Information  Collect Information         ok
 476           New Credit              Nothing         ok
 477              Nothing              Nothing         ok
 478           New Credit    Additional Credit         ok
 479              Nothing              Nothing         ok
 480              Nothing    Additional Credit         ok
 481  Collect Information  Collect Information         ok
 482    Additional Credit    Additional Credit         ok
 483           New Credit    Additional Credit         ok
 484    Additional Credit    Additional Credit         ok
 485           New Credit              Nothing         ok
 486    Additional Credit    Additional Credit  terminate
 487  Collect Information              Nothing         ok
 488           New Credit    Additional Credit         ok
 489              Nothing              Nothing         ok
 490  Collect Information              Nothing         ok
 491           New Credit              Nothing         ok
 492              Nothing           New Credit         ok
 493  Collect Information           New Credit         ok
 494  Collect Information           New Credit         ok
 495    Additional Credit    Additional Credit         ok
 496  Collect Information  Collect Information         ok
 497              Nothing              Nothing         ok
 498           End Credit  Collect Information         ok
 499           End Credit           New Credit         ok

 [500 rows x 6 columns],         Item Amount       Id
 0    Item 40      1     Id 1
 1    Item 30      1     Id 2
 2    Item 15      1     Id 3
 3    Item 49      1     Id 4
 4    Item 13      1     Id 5
 5    Item 38      1     Id 6
 6    Item 57      1     Id 7
 7    Item 33      1     Id 8
 8    Item 61      1     Id 9
 9    Item 58      1    Id 10
 10    Item 1      1    Id 11
 11   Item 27      1    Id 12
 12   Item 42      1    Id 13
 13   Item 24      1    Id 14
 14   Item 26      1    Id 15
 15   Item 51      1    Id 16
 16   Item 63      1    Id 17
 17   Item 61      1    Id 18
 18    Item 7      1    Id 19
 19   Item 62      1    Id 20
 20    Item 1      1    Id 21
 21   Item 44      1    Id 22
 22   Item 71      1    Id 23
 23   Item 70      1    Id 24
 24   Item 80      1    Id 25
 25   Item 13      1    Id 26
 26   Item 12      1    Id 27
 27   Item 58      1    Id 28
 28    Item 1      1    Id 29
 29   Item 33      1    Id 30
 ..       ...    ...      ...
 970  Item 67      1   Id 971
 971  Item 66      1   Id 972
 972  Item 15      1   Id 973
 973  Item 51      1   Id 974
 974  Item 68      1   Id 975
 975  Item 56      1   Id 976
 976  Item 80      1   Id 977
 977   Item 8      1   Id 978
 978  Item 79      1   Id 979
 979  Item 76      1   Id 980
 980   Item 4      1   Id 981
 981  Item 45      1   Id 982
 982  Item 53      1   Id 983
 983  Item 51      1   Id 984
 984  Item 26      1   Id 985
 985  Item 37      1   Id 986
 986  Item 31      1   Id 987
 987  Item 36      1   Id 988
 988  Item 80      1   Id 989
 989  Item 38      1   Id 990
 990  Item 69      1   Id 991
 991  Item 38      1   Id 992
 992  Item 15      1   Id 993
 993   Item 4      1   Id 994
 994   Item 9      1   Id 995
 995  Item 45      1   Id 996
 996  Item 41      1   Id 997
 997  Item 27      1   Id 998
 998  Item 38      1   Id 999
 999  Item 32      1  Id 1000

 [1000 rows x 3 columns],     Source Target ProjectID Reason       Person Amount TransferID
 0     1302   4711     Prj03  87850   Mrs. Smith  50284          1
 1     2323   1201     Prj06  62245   Mrs. Green  46509          2
 2     2233   1201     Prj05  95108  Mrs. Hanson  73132          3
 3     1201   4517     Prj07  32454   Mrs. Green  22667          4
 4     1201   4517     Prj02  19080   Mrs. Green  48439          5
 5     4517   2323     Prj07  42831  Mrs. Hanson  56786          6
 6     1302   1201     Prj05  24710   Mrs. Green  54597          7
 7     4711   2233     Prj07  37455   Mr. Miller  46745          8
 8     4711   2233     Prj05  25272   Mrs. Green  67402          9
 9     1302   1201     Prj03  81363   Mrs. Green  30126         10
 10    1201   2233     Prj02  61211    Mr. Chang  64323         11
 11    2233   1201     Prj03  23119   Mr. Miller  49026         12
 12    1302   4711     Prj06  96782    Mr. Brown  18331         13
 13    2323   4711     Prj04  14416   Mr. Miller  38263         14
 14    4517   1201     Prj03  97595    Mr. Chang  62122         15
 15    2323   1110     Prj07  36278   Mrs. Smith  78784         16
 16    4517   1201     Prj08  93822   Mrs. Green  43851         17
 17    2233   1201     Prj05  90985    Mr. Brown  51625         18
 18    1201   4711     Prj01  40632   Mrs. Green  58776         19
 19    1110   4517     Prj06  97139   Mrs. Smith  53604         20
 20    4711   4517     Prj04  98824   Mrs. Smith  18570         21
 21    4711   1110     Prj05  35155    Mr. Chang  46966         22
 22    1201   1201     Prj05  79478   Mrs. Green  41722         23
 23    1302   4711     Prj04  32209    Mr. Brown  63687         24
 24    1201   2323     Prj05  60214   Mr. Miller  32180         25
 25    1302   1201     Prj02  52318   Mr. Miller  81723         26
 26    2323   4517     Prj02  48914    Mr. Chang  55367         27
 27    4517   4711     Prj02  38089    Mr. Brown  52318         28
 28    1110   2233     Prj07  40427   Mrs. Green  52296         29
 29    4517   1302     Prj01  70217   Mrs. Smith  60751         30
 ..     ...    ...       ...    ...          ...    ...        ...
 470   1302   4517     Prj04  29119  Mrs. Hanson  61790        471
 471   4711   4711     Prj01  35510    Mr. Chang  45859        472
 472   4517   1110     Prj07  27882   Mrs. Smith  39556        473
 473   1110   1201     Prj06  89383    Mr. Chang  46367        474
 474   1201   4517     Prj04  97522   Mr. Miller  38682        475
 475   1110   1201     Prj07  97661   Mrs. Smith  49933        476
 476   2233   4711     Prj01  91687    Mr. Chang  48007        477
 477   2233   2233     Prj07  96525   Mrs. Green  56124        478
 478   4711   1201     Prj03  67765   Mrs. Smith  68615        479

In [19]:
data=partnerserver.getData('/home/rnene/Python/test/Deals','data')

In [20]:
data

    Age  Gender Payment Method Future Customer
0    64    male    credit card             yes
1    35    male         cheque             yes
2    25  female    credit card             yes
3    39  female    credit card              no
4    39    male    credit card             yes
5    28  female         cheque              no
6    21  female    credit card             yes
7    48    male    credit card             yes
8    70  female    credit card              no
9    36    male    credit card             yes
10   22    male    credit card             yes
11   53  female           cash              no
12   27    male           cash             yes
13   40    male    credit card             yes
14   22    male           cash             yes
15   49  female    credit card              no
16   24  female           cash              no
17   45    male    credit card             yes
18   45    male    credit card             yes
19   66  female           cash              no
20   82  female           cash              no
21   35  female    credit card              no
22   17  female    credit card             yes
23   52    male           cash              no
24   49  female    credit card              no
25   33  female    credit card              no
26   40    male    credit card             yes
27   53  female    credit card              no
28   64  female    credit card              no
29   42  female    credit card              no
..   ..     ...            ...             ...
970  39  female    credit card              no
971  23    male           cash             yes
972  52  female           cash              no
973  38    male    credit card             yes
974  81    male           cash              no
975  20    male           cash             yes
976  20  female    credit card             yes
977  40    male    credit card             yes
978  29    male           cash             yes
979  90    male           cash              no
980  42  female    credit card              no
981  80    male         cheque              no
982  43    male    credit card             yes
983  23    male    credit card             yes
984  29  female    credit card             yes
985  44  female    credit card              no
986  37    male           cash              no
987  26    male    credit card             yes
988  21    male    credit card             yes
989  80  female         cheque              no
990  50    male           cash              no
991  28  female    credit card             yes
992  82    male           cash              no
993  64    male    credit card             yes
994  19    male    credit card             yes
995  29  female    credit card             yes
996  84    male    credit card              no
997  20    male    credit card             yes
998  19    male    credit card             yes
999  24  female    credit card             yes

[1000 rows x 4 columns]